@import "../node_modules/antd/lib/style/themes/default.less";

html, body, #div {
    width: 100%;
    height: 100%;
}
.main-container>div:first-child * {
    margin-bottom: 16px;
}
.btn-success {
    border-color: @success-color !important;
    color: @success-color !important;
}
.btn-error {
    border-color: @error-color !important;
    color: @error-color !important;
}
.input-success {
    border-color: @success-color;
}
.input-error {
    border-color: @error-color;
}